<section id="cta">
    <div class="container cta-wrapper">
        <h2>Apply for your loan in minutes</h2>
        <div>
            <a href="/apply" class="btn btn-white">Get Started</a>
        </div>
    </div>
</section>