<footer>
    <div class="container footer-wrapper">
        <div class="footer-brand">
            <div class="copyright mobile-copyright">
                Copyright &copy; {{ "now"|date("Y") }}, All Rights Reserved
            </div>
            <div>
                <a href="/">
                    <img src="/img/logo-white.svg" class="footer-logo-img" alt="Manage Logo">
                </a>
            </div>
            <div class="footer-socials">
                <a href="#"><img src="/img/icon-facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="/img/icon-youtube.svg" alt="YouTube"></a>
                <a href="#"><img src="/img/icon-twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="/img/icon-pinterest.svg" alt="Pinterest"></a>
                <a href="#"><img src="/img/icon-instagram.svg" alt="Instagram"></a>
            </div>
        </div>

        <div class="footer-links-grid">
            <div class="footer-col">
                <a href="/">Home</a>
                <a href="/calculator">Calculator</a>
                <a href="/buyers-guide">Buyer's Guide</a>
                <a href="/property-secrets">Property Secrets</a>
            </div>
            <div class="footer-col">
                <a href="https://github.com/monatemedia/bond-originator" target="_blank">Github</a>
                <a href="https://www.monatemedia.com/" target="_blank">Developer</a>
                <a href="https://www.linkedin.com/in/edwardbaitsewe/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="footer-form-side">
            <form name="subscriberForm" id="subscriberForm" method="POST" action="/subscribe">
                <div class="form-inline">
                    <input type="email" name="email" id="subscriber" placeholder="Updates in your inbox" required />
                    <button class="btn btn-primary" type="submit">Go</button>
                </div>
            </form>
            <div class="copyright desktop-copyright">
                Copyright &copy; {{ "now"|date("Y") }}, All Rights Reserved
            </div>
        </div>
    </div>
</footer>