<!DOCTYPE html>
<html lang="en" x-data="{ mobileMenuOpen: false, showTopButton: false }" 
      @scroll.window="showTopButton = (window.pageYOffset > 200)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>{% block title %}Manage Home{% endblock %}</title>
    
    <script defer src="/js/alpine.min.js"></script>
    
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="hero-pattern-bg-wrapper">
        {% include 'partials/header.twig' %}
    
        <main>
            {% block content %}{% endblock %}
        </main>

        <button x-show="showTopButton" @click="window.scrollTo({top: 0, behavior: 'smooth'})" x-transition class="scroll-top-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
            </svg>
        </button>

        {% include 'partials/footer.twig' %}

    </div>

    {% block scripts %}{% endblock %}
</body>
</html>